.text {
    font-size: 14px;
    line-height: 1.4;
}

.empty {
    color: #bdbdbd;
}

.popover {
    padding: 16px;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.6;
    white-space: pre-wrap;
}
